
* {
  box-sizing: border-box;
}
body{

    padding: 80px;
    background: #1E90FF;
}

header{
    padding: 10px;
    text-align: center;
}
.logo{
    height: 35px;
}

.sign-up-form{
    padding-left: 40px;
    padding-right: 40px;
    width: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.container{
    text-align: center;

}
